body{
    background-image: url('https://raw.githubusercontent.com/shnick92/week-5-game/master/assets/images/rugrats%20gif.gif');
    background-size: 75%;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

header{
	font-family: 'Abril Fatface', cursive;
	background: #b6acd1;
	color: white;
	font-size: 36px;
	text-align: center;
}